.titleHeader {
    /*background-image: url("/assets/spacePicture2.jpg");*/
    background-color: #2f2f2f;
    z-index: 999999;
    /*background-color: #000000;*/
}

.h1Link {
    color: #e4e4e4;
    text-decoration: none;
}

.outletContainer {
    display: inline-block;
    vertical-align: top;
    background-color: #e4e4e4;
    width: 75%;
    margin-top: 10px;
    padding-bottom: 60px;
    max-width: 1380px;
}

left-nav {
    width: 20%;
}
