.navContainer {
    width: 100%;
}

.navListHr {
    color: #2f2f2f;
    background-color: #2f2f2f;
}

.navList {
    list-style: none;
}

.navListLink {
    color: #2f2f2f;
    text-decoration: none;
}

.navListLink:hover {
    background-color: #2f2f2f;
    color: #e4e4e4;
    cursor: pointer;
}

#selectedNavItem {
    background-color: #2f2f2f;
    color: #e4e4e4;
}

.closeButton {
    display: none;
}
@media(min-width: 960px) {

    .closeMenuField {
        display: none;
    }

    .titleHeader {
        background-color: #2f2f2f;
        z-index: 999999;
    }

    .h1Link {
        color: #e4e4e4;
        text-decoration: none;
        cursor: pointer;
    }

    .outletContainer {
        display: inline-block;
        vertical-align: top;
        background-color: #e4e4e4;
        width: 75%;
        margin-top: 10px;
        padding-bottom: 60px;
        max-width: 1380px;
    }

    .titleHeader {
        padding: 10px;
    }

    body-container {
        display: inline-block;
        vertical-align: top;
    }

    .planetParagraph {
        color: #2f2f2f;
        font-size: 18px;
        width: 90%;
        margin-left: 5%;
        line-height: 30px;
        text-align: justify;
    }

    .funFactList {
        width: 97%;
        margin-left: 3%;
        color: #2f2f2f;
    }

    .funFactTitle {
        font-size: 18px;
        list-style-position: inside;
        font-weight: bold;
    }

    .funFactDescription {
        margin: 0;
        font-size: 16px;
        width: 92%;
        margin-left: 4%;
        text-align: justify;
    }

    .planetSubHeader {
        font-size: 26px;
        font-weight: bold;
    }

    .overviewImage {
        margin-left: 50px;
        border-radius: 10px;
    }

    .planetTable {
        border-collapse: collapse;
        border-color: #2f2f2f;
        margin-left: 4%;
        display: inline-block;
    }

    .planetTableCell {
        color: #2f2f2f;
        padding: 10px;
        width: 100px;
        font-size: 16px;
    }
    .navContainer {
        width: 20%;
        display: inline-block;
    }

    .navListHr {
        width: 230px;
        height: 2px;
        border: 0;
        margin-left: 20px;
        text-align: left;
    }

    .navList {
        margin: 0;
        padding: 0;
    }

    .navListItem {
        margin: 0;
        font-size: 30px;
        margin-left: 20px;
        display: block;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .navListLink {
        transition: background-color .5s, color .5s;
        width: 180px;
        padding: 10px;
        display: block;
        border-radius: 5px;
    }

    .alphaCentauriLink {
        font-size: 30px;
    }
}

@media(max-width: 1100px) and (min-width: 960px) {
    .menuIcon:hover {
        cursor: pointer;
    }
    .navListItem {
        width: 150px;
    }

    .navListLink {
        width: 150px;
        font-size: 27px;
        padding: 5px;
    }

    .navListHr {
        width: 150px;
    }

    .closeButton:hover {
        cursor: pointer;
    }
}

@media(max-width: 960px) {

    .titleHeader {
        display: none;
    }

    .h1Title {
        margin: auto;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .h1Link {
        color: #e4e4e4;
        text-decoration: none;
    }

    .planetParagraph, .homeParagraph {
        width: 90%;
        margin-left: 5%;
        text-align: justify;
    }

    .closeMenuField {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: rgba(0, 0, 0, 0.65);
        z-index: 9999999999999999999999;
    }

    .menuIcon:hover {
        cursor: pointer;
    }
    .navContainer {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 99999999999999999999999;
        top: 0;
        left: 0;
        background-color: #2f2f2f;
        overflow-x: hidden;
        padding-top: 20px;
        transition: 0.5s;
    }

    .navList {
        line-height: 40px;
    }

    .navListHr {
        width: 150px;
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    .navListItem {
        font-size: 20px;
    }

    .navListLink {
        color: #efefef;
    }

    #selectedNavItem {
        text-decoration: underline;
    }

    .closeButton {
        display: block;
        margin-left: 20px;
    }

    .closeButton:hover {
        cursor: pointer;
    }
}
