<section class="homeContainer">
    <div class="universeHeader">
        <h2 class="universeH2">The Universe</h2>
    </div>
    <div class="universeText">
        <p>The universe is an expansive place. It includes hundreds of billions of galaxies each with hundreads of billions of stars. I don't know what else to write here.</p>
        <p>Explore this website to learn more about the place in which we all live.</p>
        <p><a>Download</a> the app to learn more about space exploration.</p>
    </div>
</section>
