<section class="homeContainer">
    <planet-header [planetReadable]="planetReadable" [planetCodable]="planetCodable"></planet-header>
    <p class="homeParagraph animated fadeInDown">Welcome to the universe. In the words of Carl Sagan, the universe "is all that is or was or ever will be." From our vantage point here on Earth, we can see that the universe is at least 91 billion light years wide. Our universe was born 13.7 billion years ago with the explosion of the big bang. Since then it has been constantly expanding outwards. Scientists speculate that in many trillions of years, the universe will become too cold and spread out in order to sustain large bodies of mass. This will mark the end of all life.</p>
    <p class="homeParagraph animated fadeInDown">Explore this website to learn more about the places and planets in the solar system that we're familiar with.</p>
    <ul class="homeList">
        <li><a class="homeListLink animated fadeInDown" (click)="openLink($event, 'moon')">Moon</a></li>
        <li><a class="homeListLink animated fadeInDown" (click)="openLink($event, 'mars')">Mars</a></li>
        <li><a class="homeListLink animated fadeInDown" (click)="openLink($event, 'jupiter')">Jupiter</a></li>
        <li><a class="homeListLink animated fadeInDown" (click)="openLink($event, 'saturn')">Saturn</a></li>
        <li><a class="homeListLink animated fadeInDown" (click)="openLink($event, 'uranus')">Uranus</a></li>
        <li><a class="homeListLink animated fadeInDown" (click)="openLink($event, 'neptune')">Neptune</a></li>
        <li><a class="homeListLink animated fadeInDown" (click)="openLink($event, 'pluto')">Pluto</a></li>
        <li><a class="homeListLink animated fadeInDown" (click)="openLink($event, 'alphacentauri')">Alpha Centauri</a></li>
        <li><a class="homeListLink animated fadeInDown" (click)="openLink($event, 'andromeda')">Andromeda</a></li>
    </ul>
    <p class="homeParagraph animated fadeInDown"><a>Download the game</a> to learn more about space exploration.</p>
</section>
