.homeContainer {
    color: #FFFFFF;
}

.universeHeader {
    color: #FFFFFF;
}

.universeH2 {
    color: #FFFFFF;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
}

.homeParagraph {
    color: #2f2f2f;
    text-align: justify;
}

.homeList {
    color: #2f2f2f;
}

.homeListLink {
    color: #2f2f2f;
    text-decoration: underline;
}

.homeListLink:hover {
    text-decoration: none;
    cursor: pointer;
}

@media(min-width: 960px) {
    .homeContainer {
        color: #FFFFFF;
        display: inline;
        position: relative;
        width: inherit;
    }

    .universeHeader {
        color: #FFFFFF;
        background-image: url("/assets/planets/universe.jpg");
        background-size: cover;
        width: 100%;
        height: 300px;
        overflow: hidden;
    }

    .universeH2 {
        color: #FFFFFF;
        text-align: center;
        margin: auto;
        margin-top: 95px;
        font-size: 80px;
        background-color: rgba(0, 0, 0, .5);
        width: 600px;
        border-radius: 10px;
    }

    .homeParagraph {
        color: #2f2f2f;
        font-size: 28px;
        text-align: justify;
        width: 94%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 0;
        line-height: 40px;
    }

    .homeList {
        color: #2f2f2f;
        width: 94%;
        padding-left: 10%;
        margin-top: -25px;
    }

    .homeListLink {
        font-size: 26px;
        color: #2f2f2f;
        text-decoration: underline;
        line-height: 50px;
    }

}

@media(min-width: 960px) and (max-width: 1100px) {
    .homeListLink {
        font-size: 24px;
        line-weight: 36px;
    }
}

@media(max-width: 960px) {
    .homeList {
        list-style: none;
        margin-left: 10%;
        line-height: 30px;
    }
}
