<nav class="navContainer">
    <ul class="navList">
        <li class="navListItem welcomeItem"><a routerLink="/">Welcome</a></li>
        <li class="navListItem"><a routerLink="/moon">The Moon</a></li>
        <li class="navListItem"><a routerLink="/mars">Mars</a></li>
        <li class="navListItem"><a routerLink="/jupiter">Jupiter</a></li>
        <li class="navListItem"><a routerLink="/saturn">Saturn</a></li>
        <li class="navListItem"><a routerLink="/uranus">Uranus</a></li>
        <li class="navListItem"><a routerLink="/neptune">Neptune</a></li>
        <li class="navListItem"><a routerLink="/pluto">Pluto</a></li>
        <li class="navListItem"><a routerLink="/alphacentauri">Alpha Centauri</a></li>
        <li class="navListItem"><a routerLink="/andromeda">Andromeda</a></li>
    </ul>
</nav>
