<nav class="navContainer">
    <img (click)="closeNav($event)" height="20" width="20" class="closeButton" src="/assets/xButton.png" alt="Close">
    <ul class="navList">
        <li class="navListItem welcomeItem"><a [id]="selectedId('universe')" (click)="clicked($event, 'universe')" class="navListLink" routerLink="/">Universe</a></li>
        <hr class="navListHr">
        <li class="navListItem"><a [id]="selectedId('moon')" (click)="clicked($event, 'moon')" class="navListLink">Moon</a></li>
        <li class="navListItem"><a [id]="selectedId('mars')" (click)="clicked($event, 'mars')" class="navListLink">Mars</a></li>
        <li class="navListItem"><a [id]="selectedId('jupiter')" (click)="clicked($event, 'jupiter')" class="navListLink">Jupiter</a></li>
        <li class="navListItem"><a [id]="selectedId('saturn')" (click)="clicked($event, 'saturn')" class="navListLink">Saturn</a></li>
        <li class="navListItem"><a [id]="selectedId('uranus')" (click)="clicked($event, 'uranus')" class="navListLink">Uranus</a></li>
        <li class="navListItem"><a [id]="selectedId('neptune')" (click)="clicked($event, 'neptune')" class="navListLink">Neptune</a></li>
        <li class="navListItem"><a [id]="selectedId('pluto')" (click)="clicked($event, 'pluto')" class="navListLink">Pluto</a></li>
        <li class="navListItem"><a [id]="selectedId('alphaCentauri')" (click)="clicked($event, 'alphaCentauri')" class="navListLink">Alpha Centauri</a></li>
        <li class="navListItem"><a [id]="selectedId('andromeda')" (click)="clicked($event, 'andromeda')" class="navListLink">Andromeda</a></li>
    </ul>
</nav>
