<nav class="navContainer">
    <ul class="navList">
        <li class="navListItem welcomeItem"><a [id]="selectedId('universe')" (click)="clicked($event, 'universe')" class="navListLink" routerLink="/">Universe</a></li>
        <hr class="navListHr">
        <li class="navListItem"><a [id]="selectedId('moon')" (click)="clicked($event, 'moon')" class="navListLink" routerLink="/moon">Moon</a></li>
        <li class="navListItem"><a [id]="selectedId('mars')" (click)="clicked($event, 'mars')" class="navListLink" routerLink="/mars">Mars</a></li>
        <li class="navListItem"><a [id]="selectedId('jupiter')" (click)="clicked($event, 'jupiter')" class="navListLink" routerLink="/jupiter">Jupiter</a></li>
        <li class="navListItem"><a [id]="selectedId('saturn')" (click)="clicked($event, 'saturn')" class="navListLink" routerLink="/saturn">Saturn</a></li>
        <li class="navListItem"><a [id]="selectedId('uranus')" (click)="clicked($event, 'uranus')" class="navListLink" routerLink="/uranus">Uranus</a></li>
        <li class="navListItem"><a [id]="selectedId('neptune')" (click)="clicked($event, 'neptune')" class="navListLink" routerLink="/neptune">Neptune</a></li>
        <li class="navListItem"><a [id]="selectedId('pluto')" (click)="clicked($event, 'pluto')" class="navListLink" routerLink="/pluto">Pluto</a></li>
        <li class="navListItem"><a [id]="selectedId('alphacentauri')" (click)="clicked($event, 'alphaCentauri')" class="navListLink" routerLink="/alphacentauri">Alpha Centauri</a></li>
        <li class="navListItem"><a [id]="selectedId('andromeda')" (click)="clicked($event, 'andromeda')" class="navListLink" routerLink="/andromeda">Andromeda</a></li>
    </ul>
</nav>
