.navContainer {
    width: 100%;
}

.navListHr {
    width: 250px;
    height: 2px;
    color: #2f2f2f;
    background-color: #2f2f2f;
    border: 0;
}

.navList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navListItem {
    margin: 0;
    font-size: 30px;
    margin-left: 20px;
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}

.navListLink {
    transition: background-color .5s, color .5s;
    color: #2f2f2f;
    text-decoration: none;
    margin-left: 20px;
    width: 200px;
    padding: 10px;
    display: block;
    border-radius: 5px;
}

.navListLink:hover {
    background-color: #2f2f2f;
    color: #e4e4e4;
    cursor: pointer;
}

#selectedNavItem {
    background-color: #2f2f2f;
    color: #e4e4e4;
}

/*#selectedNavItem:hover {
    background-color: #e4e4e4;
    color: #2f2f2f;
}*/

.alphaCentauriLink {
    font-size: 30px;
}
