.navContainer {
    width: 100%
}

.navListHr {
    width: 250px;
}

.navList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navListItem {
    margin: 0;
    font-size: 30px;
    color: #FFFFFF;
    margin-left: 20px;
    text-decoration: none;
    transition: background-color #FFFFFF, color #000000, transform .5s;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}
.navListItem:hover {
    transition-property: background-color, color;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}

.welcomeItem {
    padding-left: 10px;
}

.universeLink {
    margin: 0;
}

.alphaCentauriLink {
    font-size: 30px;
}
