<nav class="navContainer">
    <ul class="navList">
        <li class="navListItem welcomeItem"><a class="navListItem universeLink" routerLink="/">The Universe</a></li>
        <li class="navListItem"><a class="navListItem" routerLink="/moon">The Moon</a></li>
        <li class="navListItem"><a class="navListItem" routerLink="/mars">Mars</a></li>
        <li class="navListItem"><a class="navListItem" routerLink="/jupiter">Jupiter</a></li>
        <li class="navListItem"><a class="navListItem" routerLink="/saturn">Saturn</a></li>
        <li class="navListItem"><a class="navListItem" routerLink="/uranus">Uranus</a></li>
        <li class="navListItem"><a class="navListItem" routerLink="/neptune">Neptune</a></li>
        <li class="navListItem"><a class="navListItem" routerLink="/pluto">Pluto</a></li>
        <li class="navListItem"><a class="navListItem" routerLink="/alphacentauri">Alpha Centauri</a></li>
        <li class="navListItem"><a class="navListItem" routerLink="/andromeda">Andromeda</a></li>
    </ul>
</nav>
