<planet-header [planetReadable]="planetReadable" [planetCodable]="planetCodable"></planet-header>
<h3 class="planetSubHeader animated fadeInDown">Overview</h3>
<h3 class="planetSubHeader animated fadeInDown">Summary</h3>
<p class="planetParagraph animated fadeInDown">
    You may have heard A LOT about our next destination, and rightfully so. It is the most visited planet near us in our cosmic neighborhood. Mars, sometimes known as the “Red Planet”, is the 4th planet from the Sun and being only slightly larger than Mercury, it is the second smallest planet in our Solar System. But don’t be so quick to underestimate our friendly neighbor, because there is much more than meets the eye with this tiny red planet. But before we dive into the day to day Martian excitement, let’s take a trip down memory lane, to when Mars first began…
</p>
<p class="planetParagraph animated fadeInDown">
    We believe the planet formed in the same way as the other 8 planets (formerly 9, sorry Pluto) in our solar system. The early solar system consisted of a clumpy cloud of cold gas and dust, called the solar nebula. Some of these particles of matter stuck together to form clumps called “planetesimals”, one of which grew into the planet Mars. Evidence suggests that around 4 billion years ago, Mars looked much like Earth does today. It had a thick atmosphere that was warm enough to support oceans of water, the critical ingredient for life.  Most of the carbon dioxide was contained in carbonate rocks, much like earth. Unlike Earth, however, Mars lacked significant tectonic activity, and very little of the carbon dioxide recycled back into the atmosphere. The lack of carbon dioxide in the atmosphere diminished the necessary amount of greenhouse effects.
</p>
<p class="planetParagraph animated fadeInDown">
    The planet even had a magnetic field for a few hundred million years. But eventually the planet's’ core began to cool. As the planet cooled, the magnetic field died. The diminishing magnetic field meant one thing: the planet’s atmosphere was now vulnerable to the dangerous solar winds, and the surface was bombarded by the Sun’s radiation.
</p>
<p class="planetParagraph animated fadeInDown">
    Long ago, Mars would have been a wonderful vacation spot. Today, however, it is anything but that. Temperature gradients on mars are far different from Earth. The temperature decreases a couple degrees every centimeter from the surface. The surface as we know it is completely inhabitable, and any life that may have once existed on the planet has long since died off.
</p>
<p class="planetParagraph animated fadeInDown">
    But there’s hope! Aside from Earth, Mars experiences the most human activity out of any planet. Planetary missions to Mars began as early as 1960 with the Soviet Union (2 failed launches) and the first successful Mars flyby occurred in 1964 with the United States “Mariner 4”. Since then, we have been increasing our efforts with the first Mars orbiter (Mariner 9) in 1971, and the first successful Mars landers, Viking 1 & 2, in 1975 and 1976. The first Martian robot rover to land and travel on Mars was NASA’s Mars Pathfinder's Sojourner Rover in 1997. Since then, mankind has deployed or planned 19 Missions, including NASA’s manned mission to Mars using the Orion Space capsule. Today in 2016, there are currently 7 active missions exploring Mars.
</p>
<h3 class="planetSubHeader animated fadeInDown">Fun Facts</h3>
<ul class="funFactList animated fadeInDown">
    <li>
        <p class="funFactTitle">
            Mars is home to the tallest mountain in the solar system, Olympus Mons (68,900 feet, over 2x Mt. Everest.)
        </p>
    </li>
    <li>
        <p class="funFactTitle">
            Mars will have a planetary ring… One day.
        </p>
        <p class="funFactDescription">
            In the next 20-30 million years Mars’ largest Moon, Phobos, will be torn apart by gravitational forces. The result will be a ring around the planet that could last up to 100 million years.
        </p>
    </li>
    <li>
        <p class="funFactTitle">
            Mars is the only planet solely inhabited by robots.
        </p>
    </li>
    <li>
        <p class="funFactTitle">
            Pieces of Mars have been found on earth
        </p>
        <p class="funFactDescription">
            Scientists have found small amounts of Mars atmosphere within meteorites that were ejected from the Planet. The meteorites wandered aimlessly before being caught by Earth’s gravitational pull.
        </p>
    </li>
    <li>
        <p class="funFactTitle">
            If melted into liquid form, the amount of water in Mars’ southern polar cap would cover the entire planet to a depth of about 36 feet.
        </p>
    </li>
    <li>
        <p class="funFactTitle">
            Liquid water on Mars
        </p>
        <p class="funFactDescription">
            Recently discovered mysterious hydrated streaks on some particular slopes on Mars appear to flow over time. They darken and appear to flow down steep slopes during warm seasons, and then fade in cooler seasons.
        </p>
    </li>
    <li>
        <p class="funFactTitle">
            Life on Mars?
        </p>
        <p class="funFactDescription">
            Of all the Martian meteorites landing on Earth, the most famous one is called Allan Hills (ALH) 84001 and is believed to have blasted off Mars 16 million years ago, hitting Earth about 13,000 years ago in Antarctica. The meteorite once appeared to hold microscopic fossils of Martian bacteria, sparking intense debate about whether ancient life ever existed on Mars. Ultimately, the scientific community rejected this theory.
        </p>
    </li>
    <li>
        <p class="funFactTitle">
            In total, more than half of all the missions sent to Mars have failed. (better success rate in recent years)
        </p>
    </li>
    <li>
        <p class="funFactTitle">
            The unofficial names of many rocks on the surface of Mars are easy-going names, such as Barnacle Bill, Yogi, Pop-Tart, Shark, Half Dome, Moe, Stimpy, and Cabbage Patch. Scientists chose these names because they were easy to remember.
        </p>
    </li>
    <li>
        <p class="funFactTitle">
            A man on Mars
        </p>
        <p class="funFactDescription">
            NASA and ESA (European Space Agency) hope to collaborate on future missions to Mars, including sample-return missions as well as using the Orion capsule to land humans on Mars by 2035.
        </p>
    </li>
</ul>
